#
# This config.neon extends APP_DIR/config.neon
#
common:
    services:
        articlesModel: 
            class: Timmy\ArticlesModel
            arguments: [@dibi]
            
        linksModel:
            class: Timmy\LinksModel
            arguments: [@dibi]
            
        stopwatch: 
            class: Stopwatch

        dbTools: 
            class: Stopwatch
            arguments: [@dibi, %database.substitutes.prefix%]
            
        presenterFactory:   #loading default presenters from Timmy namespace
            class: Timmy\PresenterFactory
            arguments: [%appDir%, @container]
            
        extensionsLoader:
            class: Timmy\ExtensionsLoader
            arguments: [%appDir%, @container]
        

production < common:

development < common:

console < common: