#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    php: # PHP configuration
        date.timezone: Europe/Prague
        # session.save_path: "%tempDir%/sessions"
        # zlib.output_compression: yes
        
    template: Military

    database:
        driver: mysql
        host: localhost
        username: root
        password: 
        database: timmy
        charset: utf8
        profiler: TRUE
        lazy: TRUE
        substitutes:
            #you can specify table prefix here
            #prefix: tm_   
    
    services:
        robotLoader:
            run: true

        database:
            class: Nette\Database\Connection
            arguments: ['%database.driver%:host=%database.host%;dbname=%database.database%', '%database.username%', '%database.password%']
            
        dibi:
            factory: [@model, createDibiService]

        model:
            class: Timmy\Model
            arguments: [@database]
            
        authenticator: 
            factory: [@model, createAuthenticatorService]
            
        presenterFactory:   #loading default presenters from Timmy namespace
            class: Timmy\PresenterFactory
            arguments: [%appDir%, @container]
        

production < common:

development < common:

console < common: