{**
 * @copyright  Copyright (c) 2010 Michal Mikoláš <nanuqcz@gmail.com>
 * @package    Timmy
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

{block #head}{/block}



{block #content}
  <h2>{$article->name}</h2>
  <p>{!$article->perex_html}</p>
  <p>{!$article->content_html}</p>
{/block}